<!DOCTYPE html>
<html lang="en">
  <head> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">
 <style>
  .center {
  display: flex;
  justify-content: center;
  align-items: center;
 
}
.center p {
  text-align: center;
}
 </style>
  </head>
  <body>
    <%-  include('./navbar.ejs') %>
    <div class="aboutus"  id="aboutus">
      <div class="center"><p><h2>Gallery</h2></p></div><br/>
      <h2>Cricket</h2>
      <div class="row">
                <div class="column">
                  <img src="./img/cricket.png"  style="width: 95%" />    
                </div>


                <div class="column">
                <img src="./img/cricket2.png"  style="width: 95%" />    
                </div>

                 <div class="column">
                <img src="./img/cricket3.png"  style="width: 95%" />    
                 </div>

                <div class="column">
                <img src="./img/cricket4.png"  style="width: 95%" />    
                </div>
      
      </div>

      <h2>Kho-Kho</h2>
      <div class="row">
                <div class="column">
                  <img src="./img/kh1.png"  style="width: 95%" />    
                </div>


                <div class="column">
                <img src="./img/kh2.png"  style="width: 95%" />    
                </div>

                 <div class="column">
                <img src="./img/kh3.png"  style="width: 95%" />    
                 </div>

                <div class="column">
                <img src="./img/kh4.png"  style="width: 95%" />    
                </div>
      
      </div>
       
      <h2>Football</h2>
      <div class="row">
                <div class="column">
                  <img src="./img/f1.png"  style="width: 95%" />    
                </div>


                <div class="column">
                <img src="./img/f2.png"  style="width: 95%" />    
                </div>

                 <div class="column">
                <img src="./img/f3.png"  style="width: 95%" />    
                 </div>

                
      
      </div>

    <footer>
      <br/>
      ©2022 Gymkhana. All Rights Reserved
      <br />
      <p style="font-size: 10px; margin-top: 55px; ">
        We use cookies to offer better online experiences. By visiting and using
        Price History, you consent to our use of cookies. Learn about your
        options, rights and more by reading our Terms & Conditions and Privacy
        Policy.
      </p>
      
    </footer>
  </body>
  
</html>
